# .coveragerc to control coverage.py
[run]
source = CardboardCube
omit =
    *tests*
    *migrations*
    *settings/*
    *wsgi.py
    *manage.py
    *celery_app.py
    *test_*
    *fixtures/*
    *urls.py
    *__init__.py
    *apps.py
    *home/*
